@media only screen and (max-width: 640px){
        .sqs-block-html .sqs-block-content {
            padding-right: 25px;
            padding-left: 25px;
        }
      }
body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33B2FF;
}

li {
    float: left;
}

li a {
   	 display: inline-block;
    	 color: white;
    	 text-align: center;
    	 padding: 14px 16px;
    	 text-decoration: none;
}

li a:hover {
    background-color: #111;
}
h1 {
    color: red;
    font-size: 3em;
    text-decoration: underline;
    }

.parallax {
    /* The image used */
    background-image: url("image1.jpg");
    padding: 0px 0px 0px;
    height: 100%;
    max-width: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-left {
    padding: 300px 40px 40px;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 40px;
}
.center-left {
    padding:  40px 100px 60px;
    background-color: #434247;
    font-family: "Times New Roman", Times, serif; 
    color: white;
    text-align: left;
    }
.center-left1 {
    background-image: url("Pamphlet.jpg");
    max-width: 100%;
    height: 0;
    width: 0;
    padding: 200px 350px 250px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0px;
}
.center-left2 {
    padding:  200px 550px 300px;
    font-family: "Times New Roman", Times, serif; 
    color: white;
    text-align: left;
    background-image: url("offer.jpg");
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: left;

}
.bottom-left {
    padding:  0px 0px 0px ;
    background-color: #434247;
    font-family: "Times New Roman", Times, serif; 
    color: white;
    text-align: left;
    background-image: url("logonew.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode:multiply;

}
